html,
body {
	position: relative;
	margin: 0;
	padding: 0;
	background: #ffffff;
	scroll-behavior: smooth;
	color: #294234;
}

::selection {
	background: #eae3d7;
}

.title-text {
	font-family: DM Serif Display;
}

.body-text {
	font-family: Source Sans Pro;
}

/* Landing Page */
/* Blob 1 */
.blob-1 {
	position: absolute;
	left: 0;
	top: 24.606rem;
}

/* Blob 2 */
.blob-2 {
	position: absolute;
	right: 0;
}

/* Header */
.header-nav {
	/* position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 6rem;
	background: white;
	z-index: 1; */
	/* position: fixed;
	height: 96px;
	left: 0px;
	right: 0px;
	top: 0px; */
	position: fixed;
	height: 96px;
	left: 0%;
	right: 0%;
	top: 0px;
	background: white;
	z-index: 2;
}

.header-nav ul {
	position: absolute;
	list-style: none;
	width: fit-content;
	right: 3.313rem;
	margin: 0;
	padding: 0;
	top: 2.063rem;
}

.header-nav ul li {
	display: inline;
	font-size: 1.5rem;
	padding-top: 1.063em;
}

.header-nav ul li:nth-child(-n + 3) {
	margin-right: 4.875rem;
}

.header-nav ul li a:link {
	text-decoration: none;
}

.header-nav ul li a:visited {
	text-decoration: none;
	color: #294234;
}

.header-nav .logo {
	position: absolute;
	left: 4.188rem;
	top: 1rem;
	cursor: pointer;
	font-size: 3rem;
	font-family: DM Serif Display;
	border: none;
	background: transparent;
}

/* Introduction */
.introduction {
	/* position: absolute;
	left: 0px;
	right: 0px;
	top: 96px;
	bottom: 5029px; */
	/* position: absolute;
	height: 886px;
	left: 0px;
	right: 0px;
	top: 96px; */
	position: absolute;
	height: 886px;
	left: 0%;
	right: 0%;
	top: 96px;
}

/* .introduction .text-container { */
.introduction .main-container {
	/* position: absolute;
	width: 1002px;
	height: 571.04px;
	left: calc(50% - 1002px / 2 - 0.35px);
	top: 108.91px; */
	/* position: absolute;
	height: 571.04px;
	left: 255px;
	right: 255px;
	top: 109px; */
	position: absolute;
	height: 571.04px;
	left: 16.87%;
	right: 16.87%;
	top: 109px;
}

.introduction .text-container {
	/* position: absolute;
	width: 531px;
	height: 211px;
	left: 0px;
	top: 181px; */
	/* position: absolute;
	width: 531px;
	height: 211px;
	left: 0px;
	top: 181px; */
	/* position: absolute;
	width: 531px;
	height: 201px;
	left: 0px;
	top: 186px; */
	position: absolute;
	width: 531px;
	height: 201px;
	left: 0px;
	top: calc(50% - 201px / 2 + 0.98px);
	z-index: 1;
}

.introduction .text-container .title {
	font-family: Corben;
	font-weight: bold;
	/* font-size: 2.25rem; */
	font-size: 3vw;
	position: absolute;
	width: 531px;
	left: 0px;
	top: 0px;
	bottom: 94px;
}

.introduction .subtitle {
	/* font-size: 2.25rem; */
	position: absolute;
	width: 531px;
	height: 50px;
	left: 0px;
	top: 151px;
	margin-top: 20px;
	/* margin-top: 34px; */
	/* top: 151px; */

	font-size: 3vw;
}

.introduction img {
	position: absolute;
	width: 400px;
	height: 400px;
	right: 0px;
	top: 86px;
}

.introduction .typing {
	color: #537962;
}

/* About */
#aboutme {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 1078px;
	bottom: 4047px;
}

#aboutme .container {
	/* position: absolute;
	width: 1289px;
	height: 610px; 
	left: calc(50% - 1289px / 2 + 0.5px);
	top: 138px; */
	position: absolute;
	left: 112px;
	right: 111px;
	top: 138px;
	bottom: 138px;
}

#aboutme .container .top {
	position: absolute;
	height: 395px;
	left: 38px;
	right: 38px;
	top: 0px;
}

#aboutme .container .top .title-text {
	font-size: 2.25rem;
}

#aboutme .picture {
	position: absolute;
	width: 384.74px;
	left: 0px;
	top: 19px;
	bottom: 17.43px;
}

#aboutme .description {
	position: absolute;
	width: 776px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

#aboutme .description .text {
	font-family: Source Sans Pro;
	font-size: 1.5rem;
}

#aboutme #tech-stack {
	position: absolute;
	height: 162px;
	left: 0px;
	right: 0px;
	top: 448px;

	background: #f5f3f6;
	border-radius: 30px;
}

#aboutme #tech-stack #frontend {
	position: absolute;
	width: 24.813rem;
	height: 5.125rem;
	left: 2.813rem;
	top: 2.5rem;
}

#aboutme #tech-stack #design {
	position: absolute;
	width: 236px;
	height: 82px;
	left: 548px;
	top: 40px;
}

#aboutme #tech-stack #backend {
	position: absolute;
	width: 353px;
	height: 82px;
	left: 890px;
	top: 40px;
}

#aboutme #tech-stack .title-text {
	font-size: 1.875rem;
}

#aboutme #tech-stack .body-text {
	font-size: 1.5rem;
}

/* Projects */
#projects {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 2060px;
	bottom: 1538px;
}

#projects .container {
	/* position: absolute;
	width: 66.375rem;
	height: 130.813rem;
	left: 14.063rem;
	top: 10rem; */
	position: absolute;
	width: 1062px;
	height: 2093px;
	left: calc(50% - 1062px / 2);
	top: 160px;
}

#projects .container > .title-text {
	position: absolute;
	width: inherit;
	left: 0;
	top: 0;
	font-size: 2.25rem;
}

#projects .container .project-details {
	/* position: absolute;
	width: 66.375rem;
	height: 122.25rem;
	left: 0;
	top: 8.563rem; */
	position: absolute;
	left: 0%;
	right: 0%;
	top: 6.55%;
	bottom: 0%;
}

.each-project-cont {
	left: 0;
	width: 66.125rem;
	height: 22.813rem;
	margin-bottom: 10.813rem;
}

.each-project .title-text {
	font-size: 1.875rem;
}

.each-project .description {
	font-family: Source Sans Pro;
	font-size: 1.5rem;
	left: 0;
	width: 34rem;
	height: 11.813rem;
	margin-top: 1.375rem;
}

.each-project .tech {
	color: #537962;
	font-family: Source Sans Pro;
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 1.688rem;
}

.each-project .link-btns {
	height: 2.375rem;
}

.each-project .link-btns a {
	background: #e6b0a4;
	color: #294234;
	cursor: pointer;
	border: none;
	border-radius: 1.015rem;
	font-family: Source Sans Pro;
	font-weight: bold;
	font-size: 1.125rem;
	padding: 0.5rem 1.25rem 0.5rem 1.25rem;
	margin-right: 1.125rem;
}

.each-project .link-btns a:hover {
	background: #ebccc1;
}

.each-project .link-btns a,
a:visited {
	text-decoration: none;
	color: #294234;
}

.each-project .top {
	width: 66.125rem;
	height: 15.938rem;
	margin-bottom: 1.688rem;
}

.each-project .left-side {
	position: absolute;
	width: 66.125rem;
	height: 14.5rem;
}

.each-project .screenshot {
	position: absolute;
	display: inline-block;
	width: 29.741rem;
	height: 16.281rem;
	margin-left: 582px;
	/* border: 1.5px solid #f5f3f6; */
	border: 0.094rem solid #f5f3f6;
	border-radius: 1rem;
}

/* Resume */
#resume {
	/* position: absolute;
	width: 94.5rem;
	height: 65.625rem;
	left: 0px;
	top: 285.563rem; */
	position: absolute;
	height: 926px;
	left: 0px;
	right: 0px;
	top: 4569px;
}

#resume .container {
	/* position: absolute;
	width: 53.875rem;
	height: 65.625rem;
	left: 20.313rem; */
	position: absolute;
	height: 772px;
	left: 325px;
	right: 318px;
	top: 154px;
}

#resume .container .top {
	position: absolute;
	width: 53.875rem;
	left: 0;
	top: 5.875rem;
}

#resume .container .top > .title-text {
	position: absolute;
	width: inherit;
	left: 0;
	top: 0;
	font-size: 2.25rem;
}

#resume .container .top .resume-details {
	margin-top: 5.875rem;
}

#resume .container .top .resume-details .title-text {
	/* font-size: 1.875rem; */
	font-size: 1.75rem;
	margin-bottom: 0.5rem;
}

#resume .container .top .resume-details .education {
	width: 53.813rem;
	height: 13.875rem;
	left: 0;
	top: 5.875rem;
	margin-bottom: 2.625rem;
}

#resume .container .top .resume-details .experience {
	width: 53.813rem;
	left: 0;
	top: 16.5rem;
}

#resume .container .top .resume-details .info {
	font-family: Source Sans Pro;
	font-size: 1.125rem;
	width: 53.813rem;
}

.each-education {
	margin-bottom: 1.375rem;
}

.each-education .name,
.each-experience .name {
	font-weight: bold;
}

.each-education .left,
.each-experience .left {
	left: 0;
}

.each-education .right,
.each-experience .right {
	float: right;
}

.each-experience ul {
	font-size: 1.125rem;
}

#resume .container .resume-download {
	position: absolute;
	width: 20rem;
	height: 3.688rem;
	left: 16.938rem;
	bottom: 0;
	background: #988671;
	border-radius: 1.875rem;
}

#resume .container .resume-download a {
	position: absolute;
	left: 2.5rem;
	top: 0.938rem;
	text-decoration: none;
	font-family: Source Sans Pro;
	font-weight: bold;
	font-size: 1.5rem;
	color: white;
}

#contact {
	position: absolute;
	width: 100vw;
	height: 27rem;
	left: 0;
	top: 351.188rem;
}

#contact .container {
	position: absolute;
	width: 54.313rem;
	height: 12.563rem;
	left: 20.313rem;
	top: 7.188rem;
}

#contact .container .title-text div:first-child {
	font-size: 2.25rem;
}

#contact .container .title-text div:nth-child(2) {
	font-size: 1.5rem;
}

#contact #msg {
	font-family: Source Sans Pro;
	font-size: 1.125rem;
	margin-bottom: 1.5rem;
}

#contact #contact-links span a {
	margin-right: 3rem;
	color: #537962;
	border: none;
	background: transparent;
	cursor: pointer;
}

/* Footer */
#footer-cont {
	position: absolute;
	width: 100vw;
	height: 5rem;
	left: 0;
	/* top: 6051px; */
	top: 378.188rem;
	background: #eae3d7;
}

footer {
	position: absolute;
	left: 43.813rem;
	top: 2rem;
	font-family: Source Sans Pro;
	font-size: 0.75rem;
}
