html,
body {
	position: relative;
	/* width: 1512px;
	height: 982px; */
	margin: 0;
	padding: 0;
	background: #ffffff;
}

.title-text {
	font-family: DM Serif Display;
}

.body-text {
	font-family: Source Sans Pro;
}

/* Landing Page */
/* Blob 1 */
.blob-1 {
	position: absolute;
	/* width: 701.51px;
	height: 666.78px; */
	/* left: -482.65px; */
	/* top: 393.69px; */
	left: 0;
	top: 24.606rem;
}

/* .blob-1 .vector {
	position: absolute;
	width: 566.21px;
	height: 510.17px;
	left: 535.32px;
	top: 666.78px;

	background: #eae3d7;
	transform: rotate(-160.99deg);
} */

/* Blob 2 */
.blob-2 {
	position: absolute;
	/* width: 816.79px;
	height: 846.18px; */
	/* left: 859.69px; */
	/* left: 53.731rem; */
	right: 0;
	/* top: -151.91px; */
	/* top: -9.494rem; */
}

/* .blob-2 .vector {
	position: absolute;
	width: 586.16px;
	height: 652.36px;
	left: 0px;
	top: 263.4px;

	background: #ebccc1;
	transform: rotate(-26.7deg);
} */

/* Main Content */

/* position: absolute;
width: 1002px;
height: 571.04px;
left: 255px;
top: 205px; */

/* Introduction */

/* position: absolute;
width: 531px;
height: 211px;
left: 0px;
top: 181px; */

/* Frame 4 */

/* position: absolute;
width: 531px;
height: 151px;
left: 0px;
top: 0px; */

/* Hi, my name is Jenny. Nice to meet you! */

/* position: absolute;
width: 531px;
height: 151px;
left: 0px;
top: 0px;

font-family: Corben;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 67px;

color: #000000; */

/* Frame 5 */

/* position: absolute;
width: 531px;
height: 60px;
left: 0px;
top: 151px; */

/* I’m a frontend developer.| */

/* position: absolute;
width: 531px;
height: 60px;
left: 0px;
top: 0px;

font-family: DM Serif Display;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 49px;

color: #000000; */

/* Profile Picture 1 */

/* position: absolute;
width: 421px;
height: 571.04px;
left: 581px;
top: 0px; */

/* Vector */

/* position: absolute;
width: 421px;
height: 571.04px;
left: 0px;
top: 0px;

background: url(IMG_0858.jpg); */

/* Header */
.header-nav {
	position: absolute;
	/* width: 1512px;
	height: 96px; */
	left: 0;
	top: 0;
	width: 100vw;
	height: 6rem;
	/* height: 100vh; */
}

.header-nav ul {
	position: absolute;
	list-style: none;
	width: fit-content;
	/* height: 4.188rem; */
	/* padding-left: 54.75rem; */
	right: 3.313rem;
	margin: 0;
	padding: 0;

	/* left: 54.75rem; */
	/* top: 0.938rem; */
	top: 2.063rem;
	/* left: 876px;
	top: 15px; */
}

.header-nav ul li {
	/* position: absolute; */
	/* display: inline-block; */
	display: inline;
	font-size: 24px;
	padding-top: 1.063em;
	/* vertical-align: middle; */

	/* line-height: 2.063rem; */
	/* margin-right: 4.875rem; */
}

.header-nav ul li:nth-child(-n + 3) {
	margin-right: 4.875rem;
}

.header-nav ul li a:link {
	text-decoration: none;
}

.header-nav ul li a:visited {
	text-decoration: none;
	color: black;
}

.header-nav .logo {
	position: absolute;
	/* width: 215px;
	height: 66px; */
	/* left: 67px; */
	/* margin-left: 4.875rem; */
	left: 4.188rem;
	/* left: 9.063rem; */
	/* margin-left: 9.063rem; */
	/* top: 16px; */
	top: 1rem;

	font-size: 48px;
	line-height: 66px;
	/* identical to box height */
	display: flex;
	align-items: center;
}

/* About Me */

/* position: absolute;
width: 101px;
height: 33px;
left: -2px;
top: 17px;

font-family: DM Serif Display;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px; */
/* identical to box height */

/* color: #000000; */

/* Projects */

/* position: absolute;
width: 87px;
height: 33px;
left: 177px;
top: 17px;

font-family: DM Serif Display;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px; */
/* identical to box height */

/* color: #000000; */

/* Resume */

/* position: absolute;
width: 84px;
height: 33px;
left: 336px;
top: 17px;

font-family: DM Serif Display;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px; */
/* identical to box height */

/* color: #000000; */

/* Contact */

/* position: absolute;
width: 83px;
height: 33px;
left: 496px;
top: 17px;

font-family: DM Serif Display;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px; */
/* identical to box height */

/* color: #000000; */
