html,
body {
	position: relative;
	margin: 0;
	padding: 0;
	background: #ffffff;
	scroll-behavior: smooth;
	color: #294234;
}

::selection {
	background: #eae3d7;
}

.title-text {
	font-family: DM Serif Display;
}

.body-text {
	font-family: Source Sans Pro;
}

/* Landing Page */
/* Blob 1 */
.blob-1 {
	position: absolute;
	left: 0;
	top: 37.697516930023vh;
}

/* Blob 2 */
.blob-2 {
	position: absolute;
	right: 0;
	top: 0;
	width: 38.767vw;
}

/* Header */
.header-nav {
	/* position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 6rem;
	background: white;
	z-index: 1; */
	/* position: fixed;
	height: 96px;
	left: 0px;
	right: 0px;
	top: 0px; */
	position: fixed;
	/* height: 96px; */
	height: 6.349vw;
	left: 0%;
	right: 0%;
	top: 0px;
	/* background: white; */
	z-index: 2;
}

.header-nav ul {
	list-style: none;
	/* position: absolute;
	height: 33px;
	left: 57.94%;
	right: 3.64%;
	top: 33px; */
	margin: 0;
	padding: 0;
	position: absolute;
	/* width: 581px;
	height: 33px; */
	/* right: 53px; */
	right: 3.505vw;
	top: 2.116vw;
}

.header-nav ul li {
	display: inline;
	/* font-size: 1.587vw; */
	font-size: 1.587vw;
	padding-top: 1.063em;
}

.header-nav ul li:nth-child(-n + 3) {
	/* margin-right: 4.875rem; */
	margin-right: 4.894vw;
}

.header-nav ul li a:link {
	text-decoration: none;
}

.header-nav ul li a:visited {
	text-decoration: none;
	color: #294234;
}

.header-nav .logo {
	position: absolute;
	cursor: pointer;
	font-size: 3.175vw;
	font-family: DM Serif Display;
	border: none;
	background: transparent;
	position: absolute;
	left: 4.299vw;
	top: 0.992vw;
}

/* Introduction */
.introduction {
	/* position: absolute;
	left: 0px;
	right: 0px;
	top: 96px;
	bottom: 5029px; */
	/* position: absolute;
	height: 886px;
	left: 0px;
	right: 0px;
	top: 96px; */
	position: absolute;
	height: 886px;
	left: 0px;
	right: 0px;
	top: 0px;
}

/* .introduction .text-container { */
.introduction .main-container {
	/* position: absolute;
	width: 1002px;
	height: 571.04px;
	left: calc(50% - 1002px / 2 - 0.35px);
	top: 108.91px; */
	/* position: absolute;
	height: 571.04px;
	left: 255px;
	right: 255px;
	top: 109px; */
	/* position: absolute;
	width: 1002px;
	height: 571.04px;
	left: calc(50% - 1002px / 2);
	top: 109px; */
	position: absolute;
	width: 1002px;
	height: 400px;
	left: calc(50% - 1002px / 2);
	top: 243px;
}

.introduction .text-container {
	/* position: absolute;
	width: 531px;
	height: 211px;
	left: 0px;
	top: 181px; */
	/* position: absolute;
	width: 531px;
	height: 211px;
	left: 0px;
	top: 181px; */
	/* position: absolute;
	width: 531px;
	height: 201px;
	left: 0px;
	top: 186px; */
	position: absolute;
	width: 531px;
	height: 201px;
	left: 0px;
	top: 100px;
}

.introduction .text-container .title {
	font-family: Corben;
	font-weight: bold;
	/* font-size: 2.381vw; */
	font-size: 2.381vw;
	/* font-size: 3vw; */
	/* position: absolute;
	width: 531px;
	left: 0px;
	top: 0px;
	bottom: 94px; */
	position: absolute;
	width: 531px;
	height: 131px;
	left: 0px;
	top: 0px;
}

.introduction .subtitle {
	/* font-size: 2.381vw; */
	/* position: absolute;
	width: 531px;
	height: 50px;
	left: 0px;
	top: 151px;
	margin-top: 20px; */
	/* margin-top: 34px; */
	/* top: 151px; */
	position: absolute;
	width: 531px;
	height: 50px;
	left: 0px;
	top: 151px;
	/* font-size: 36px; */
	font-size: 2.381vw;

	/* font-size: 3vw; */
}

.introduction img {
	position: absolute;
	width: 400px;
	height: 400px;
	right: 0px;
	top: 0px;
}

.introduction .typing {
	color: #537962;
}

/* About */
#aboutme {
	/* position: absolute;
	left: 0px;
	right: 0px;
	top: 1078px;
	bottom: 4494px; */
	position: absolute;
	height: 886px;
	left: 0px;
	right: 0px;
	top: 886px;
}

#aboutme .container {
	/* position: absolute;
	width: 1289px;
	height: 610px; 
	left: calc(50% - 1289px / 2 + 0.5px);
	top: 138px; */
	position: absolute;
	width: 1289px;
	height: 610px;
	left: calc(50% - 1289px / 2 + 0.5px);
	top: 138px;
}

#aboutme .container .top {
	position: absolute;
	height: 395px;
	left: 38px;
	right: 38px;
	top: 0px;
}

#aboutme .container .top .title-text {
	/* font-size: 2.381vw; */
	font-size: 2.381vw;
}

#aboutme .picture {
	position: absolute;
	width: 384.74px;
	left: 0px;
	top: 19px;
	bottom: 17.43px;
}

#aboutme .description {
	position: absolute;
	width: 776px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

#aboutme .description .text {
	font-family: Source Sans Pro;
	/* font-size: 1.587vw; */
	font-size: 1.587vw;
}

#aboutme #tech-stack {
	position: absolute;
	height: 162px;
	left: 0px;
	right: 0px;
	top: 448px;

	background: #f5f3f6;
	border-radius: 30px;
}

#aboutme #tech-stack #frontend {
	position: absolute;
	width: 24.813rem;
	height: 5.125rem;
	left: 2.813rem;
	top: 2.5rem;
}

#aboutme #tech-stack #design {
	position: absolute;
	width: 236px;
	height: 82px;
	left: 548px;
	top: 40px;
}

#aboutme #tech-stack #backend {
	position: absolute;
	width: 353px;
	height: 82px;
	left: 890px;
	top: 40px;
}

#aboutme #tech-stack .title-text {
	font-size: 1.984vw;
}

#aboutme #tech-stack .body-text {
	font-size: 1.587vw;
}

/* Projects */
#projects {
	/* position: absolute;
	height: 2413px;
	left: 0px;
	right: 0px;
	top: 2060px; */
	position: absolute;
	height: 2369px;
	left: 0px;
	right: 0px;
	top: 1772px;
}

#projects .container {
	/* position: absolute;
	width: 66.375rem;
	height: 130.813rem;
	left: 14.063rem;
	top: 10rem; */
	position: absolute;
	width: 1062px;
	height: 2093px;
	left: calc(50% - 1062px / 2);
	top: 138px;
}

#projects .container > .title-text {
	position: absolute;
	width: inherit;
	left: 0;
	top: 0;
	font-size: 2.381vw;
}

#projects .container .project-details {
	/* position: absolute;
	width: 66.375rem;
	height: 122.25rem;
	left: 0;
	top: 8.563rem; */
	position: absolute;
	left: 0%;
	right: 0%;
	top: 6.55%;
	bottom: 0%;
}

.each-project-cont {
	left: 0;
	width: 66.125rem;
	height: 22.813rem;
	margin-bottom: 10.813rem;
}

.each-project .title-text {
	font-size: 1.984vw;
}

.each-project .description {
	font-family: Source Sans Pro;
	font-size: 1.587vw;
	left: 0;
	width: 34rem;
	height: 11.813rem;
	margin-top: 1.375rem;
}

.each-project .tech {
	color: #537962;
	font-family: Source Sans Pro;
	font-weight: bold;
	font-size: 0.926vw;
	margin-bottom: 1.688rem;
}

.each-project .link-btns {
	height: 2.375rem;
}

.each-project .link-btns a {
	background: #e6b0a4;
	color: #294234;
	cursor: pointer;
	border: none;
	border-radius: 1.015rem;
	font-family: Source Sans Pro;
	font-weight: bold;
	font-size: 1.19vw;
	padding: 0.5rem 1.25rem 0.5rem 1.25rem;
	margin-right: 1.125rem;
}

.each-project .link-btns a:hover {
	background: #ebccc1;
}

.each-project .link-btns a,
a:visited {
	text-decoration: none;
	color: #294234;
}

.each-project .top {
	width: 66.125rem;
	height: 15.938rem;
	margin-bottom: 1.688rem;
}

.each-project .left-side {
	position: absolute;
	width: 66.125rem;
	height: 14.5rem;
}

.each-project .screenshot {
	position: absolute;
	display: inline-block;
	width: 29.741rem;
	height: 16.281rem;
	margin-left: 582px;
	/* border: 1.5px solid #f5f3f6; */
	border: 0.094rem solid #f5f3f6;
	border-radius: 1rem;
}

/* Resume */
#resume {
	/* position: absolute;
	width: 94.5rem;
	height: 65.625rem;
	left: 0px;
	top: 285.563rem; */
	/* position: absolute;
	height: 100%;
	height: 926px;
	left: 0px;
	right: 0px;
	top: 4569px; */
	position: absolute;
	height: 1110px;
	left: 0px;
	right: 0px;
	top: 4141px;
}

#resume .container {
	/* position: absolute;
	width: 53.875rem;
	height: 65.625rem;
	left: 20.313rem; */
	/* position: absolute;
	width: 869px;
	height: 772px;
	left: calc(50% - 869px / 2 + 3.5px);
	top: 154px; */
	/* position: absolute;
	height: 815px;
	left: 225px;
	right: 225px;
	top: 60px; */
	/* position: absolute;
	width: 1062px;
	height: 815px;
	left: calc(50% - 1062px / 2);
	top: 60px; */
	position: absolute;
	width: 1062px;
	height: 834px;
	left: calc(50% - 1062px / 2);
	top: 138px;
}

#resume .container .top {
	/* position: absolute;
	width: 53.875rem;
	left: 0;
	top: 5.875rem; */
	position: absolute;
	height: 706px;
	left: 0px;
	right: 0px;
	top: 0px;
}

#resume .container .top > .title-text {
	/* position: absolute;
	width: inherit;
	left: 0;
	top: 0; */
	position: absolute;
	width: 1062px;
	height: 59px;
	left: 0px;
	top: 0px;
	font-size: 2.381vw;
}

#resume .container .top .resume-details {
	position: absolute;
	width: 1062px;
	height: 615px;
	left: 0px;
	top: 91px;
	/* top: 91px; */
	/* margin-top: 5.875rem; */
}

#resume .container .top .resume-details .title-text {
	/* font-size: 1.984vw; */
	font-size: 1.852vw;
	/* margin-bottom: 0.5rem; */
}

#resume .container .top .resume-details .education {
	/* width: 53.813rem; */
	position: absolute;
	height: 228px;
	left: 0px;
	right: 0px;
	top: 0px;
	/* height: 13.875rem;
	left: 0;
	top: 5.875rem;
	margin-bottom: 2.625rem; */
}

#resume .container .top .resume-details .experience {
	position: absolute;
	width: 1062px;
	height: 357px;
	left: 0px;
	top: 258px;
}

#resume .container .top .resume-details .info {
	margin-top: 7px;
	font-family: Source Sans Pro;
	font-size: 1.19vw;
	width: 1062px;
}

.each-education {
	margin-bottom: 1.375rem;
}

.each-education .name,
.each-experience .name {
	font-weight: bold;
}

.each-education .left,
.each-experience .left {
	left: 0;
}

.each-education .right,
.each-experience .right {
	float: right;
}

.each-experience ul {
	font-size: 1.19vw;
}

#resume .container .resume-download {
	/* position: absolute;
	width: 20rem;
	height: 3.688rem;
	left: 16.938rem;
	bottom: 0; */
	position: absolute;
	width: 275px;
	height: 59px;
	left: calc(50% - 275px / 2 - 0.5px);
	top: 775px;

	background: #988671;
	border-radius: 30px; /* margin-top: 48px; */
}

#resume .container .resume-download a {
	position: absolute;
	left: 2.5rem;
	top: 0.938rem;
	font-family: Source Sans Pro;
	font-weight: bold;
	font-size: 1.323vw;
	/* font-size: 1.587vw; */
	color: white;
}

#contact {
	/* position: absolute;
	width: 100vw;
	height: 27rem;
	left: 0;
	top: 351.188rem; */
	position: absolute;
	height: 372px;
	left: 0px;
	right: 0px;
	top: 5251px;
}

#contact .container {
	/* position: absolute;
	width: 54.313rem;
	height: 12.563rem;
	left: 20.313rem;
	top: 7.188rem; */
	position: absolute;
	width: 1062px;
	height: 201px;
	left: calc(50% - 1062px / 2);
	top: 0px;
}

#contact .container .title-text div:first-child {
	font-size: 2.381vw;
}

#contact .container .title-text div:nth-child(2) {
	font-size: 1.587vw;
}

#contact #msg {
	font-family: Source Sans Pro;
	font-size: 1.19vw;
	margin-bottom: 1.5rem;
}

#contact #contact-links span a {
	margin-right: 3rem;
	color: #537962;
	border: none;
	background: transparent;
	cursor: pointer;
}

/* Footer */
#footer-cont {
	/* position: absolute;
	width: 100vw;
	height: 5rem;
	left: 0;
	top: 378.188rem;
	background: #eae3d7; */
	position: absolute;
	height: 84px;
	left: 0px;
	right: 0px;
	top: 5623px;

	background: #eae3d7;
}

footer {
	position: absolute;
	width: 93px;
	height: 15px;
	left: calc(50% - 93px / 2 - 8.5px);
	top: 34px;

	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 0.794vw;
	line-height: 15px;
	/* identical to box height */

	display: flex;
	align-items: center;
}
