@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	height: 100%;
}

body {
	height: 100%;
	/* @apply font-roboto text-obsidian bg-cloud; */
	@apply font-roboto text-obsidian bg-cream;
}

::selection {
	background-color: #007200;
	color: #fff;
}

/* .main {
	@apply w-full h-full grow px-3 tablet:px-5 desktop:px-0;
} */
